<nav class="navbar navbar-expand-lg navbar-dark bg-primary mb-4">
  <a class="navbar-brand" routerLinkActive #rla="routerLinkActive" routerLink="/set-expenses">FINAN$YS</a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavAltMarkup" aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Alterna navegação">
    <span class="navbar-toggler-icon"></span>
  </button>
  <div *ngIf="!rla.isActive" class="collapse navbar-collapse" id="navbarNavAltMarkup">
    <div class="navbar-nav">
      <a class="nav-item nav-link" routerLinkActive="active" (click)="navigate('reports')">Relatórios</a>
      <a class="nav-item nav-link" routerLinkActive="active" (click)="navigate('entries')">Lançamentos</a>
      <a class="nav-item nav-link" routerLinkActive="active" (click)="navigate('categories')">Categorias</a>
    </div>
  </div>
</nav>
